<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/itarelkina">Irina Tarelkina</a>. as web developer who is on a mission to practice and extend the technical skills needed to launch and turn ideas into reality.
  </p>
  <br />
  <p>
    I do put a lot of efforts and time into learning how to code every day to perfect the applicaions.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'irina.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Irina Tarelkina</h2>
      <br />
      <p>
        Irina Tarelkina is a business analyst and brings lagre input to Sales Compensation tool Xactly Incent as developer each year to ensure that sales team gets compensated accordinly.
    </div>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />
